In [58]:
'''import pandas as pd
from textblob import TextBlob
from nltk.tokenize.toktok import ToktokTokenizer
import re
tokenizer = ToktokTokenizer()
import spacy
nlp = spacy.load('en_core_web_sm', disable=['ner'])'''

"import pandas as pd\nfrom textblob import TextBlob\nfrom nltk.tokenize.toktok import ToktokTokenizer\nimport re\ntokenizer = ToktokTokenizer()\nimport spacy\nnlp = spacy.load('en_core_web_sm', disable=['ner'])"

In [40]:
TextBlob("he is very good boy").sentiment

Sentiment(polarity=0.9099999999999999, subjectivity=0.7800000000000001)

In [41]:
TextBlob("he is not a good boy").sentiment

Sentiment(polarity=-0.35, subjectivity=0.6000000000000001)

In [42]:
TextBlob("Eerybody says this man is poor").sentiment

Sentiment(polarity=-0.4, subjectivity=0.6)

In [10]:
### Data Loading
train=pd.read_csv("Train.csv")
train

                                                    text  label
0      I grew up (b. 1965) watching and loving the Th...      0
1      When I put this movie in my DVD player, and sa...      0
2      Why do people who do not know what a particula...      0
3      Even though I have great interest in Biblical ...      0
4      Im a die hard Dads Army fan and nothing will e...      1
...                                                  ...    ...
39995  "Western Union" is something of a forgotten cl...      1
39996  This movie is an incredible piece of work. It ...      1
39997  My wife and I watched this movie because we pl...      0
39998  When I first watched Flatliners, I was amazed....      1
39999  Why would this film be so good, but only gross...      1

[40000 rows x 2 columns]

In [11]:
label_0=train[train['label']==0].sample(n=5000)
label_1=train[train['label']==1].sample(n=5000)

In [12]:
train=pd.concat([label_1,label_0])
from sklearn.utils import shuffle
train = shuffle(train)

In [13]:
train

                                                    text  label
31880  (This might have a spoiler)<br /><br />When I ...      0
31688  This is movie is actually one of my all time f...      1
486    I thought it was an original story, very nicel...      1
27206  The Lady in Cement is a veritable course on so...      0
30892  And I repeat, please do not see this movie! Th...      0
...                                                  ...    ...
10843  Early 1950s Sci-Fi directed by Lesley Selander...      0
10436  A remarkable documentary about the landmark ac...      1
15079  Sisters in law will be released theatrically o...      1
25656  Outrage is pretty good movie! Robert Culp was ...      1
8603   For all its many flaws, I'm inclined to be cha...      0

[10000 rows x 2 columns]

Here, the data has two labels ie 0 and 1. 0 stands for "Negative" and "1" stands for "Positive".

### Data Preprocessing

In [14]:
train.isnull().sum()

text     0
label    0
dtype: int64

In [15]:
" "

' '

In [16]:
import numpy as np
train.replace(r'^\s*$', np.nan, regex=True,inplace=True)
train.dropna(axis = 0, how = 'any', inplace = True)

In [17]:
train.replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=["",""], regex=True, inplace=True)
print('escape seq removed')

escape seq removed

In [18]:
import numpy as np
train.replace(r'^\s*$', np.nan, regex=True,inplace=True)
train.dropna(axis = 0, how = 'any', inplace = True)

In [19]:
train

                                                    text  label
31880  (This might have a spoiler)<br /><br />When I ...      0
31688  This is movie is actually one of my all time f...      1
486    I thought it was an original story, very nicel...      1
27206  The Lady in Cement is a veritable course on so...      0
30892  And I repeat, please do not see this movie! Th...      0
...                                                  ...    ...
10843  Early 1950s Sci-Fi directed by Lesley Selander...      0
10436  A remarkable documentary about the landmark ac...      1
15079  Sisters in law will be released theatrically o...      1
25656  Outrage is pretty good movie! Robert Culp was ...      1
8603   For all its many flaws, I'm inclined to be cha...      0

[10000 rows x 2 columns]

In [20]:
train['text']=train['text'].str.encode('ascii', 'ignore').str.decode('ascii')
print('non-ascii data removed')

non-ascii data removed

In [21]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [22]:
def remove_punctuations(text):
    import string
    for punctuation in string.punctuation:
        text = text.replace(punctuation, '')
    return text
train['text']=train['text'].apply(remove_punctuations)

In [23]:
train

                                                    text  label
31880  This might have a spoilerbr br When I first st...      0
31688  This is movie is actually one of my all time f...      1
486    I thought it was an original story very nicely...      1
27206  The Lady in Cement is a veritable course on so...      0
30892  And I repeat please do not see this movie This...      0
...                                                  ...    ...
10843  Early 1950s SciFi directed by Lesley Selander ...      0
10436  A remarkable documentary about the landmark ac...      1
15079  Sisters in law will be released theatrically o...      1
25656  Outrage is pretty good movie Robert Culp was v...      1
8603   For all its many flaws Im inclined to be chari...      0

[10000 rows x 2 columns]

In [24]:
import nltk
from nltk.corpus import stopwords
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [25]:
stopword_list = nltk.corpus.stopwords.words('english')
stopword_list.remove('no')
stopword_list.remove('not')

In [26]:
def custom_remove_stopwords(text, is_lower_case=False):
    tokens = tokenizer.tokenize(text)
    tokens = [token.strip() for token in tokens]
    if is_lower_case:
        filtered_tokens = [token for token in tokens if token not in stopword_list]
    else:
        filtered_tokens = [token for token in tokens if token.lower() not in stopword_list]
    filtered_text = ' '.join(filtered_tokens)    
    return filtered_text

In [27]:
train['text']=train['text'].apply(custom_remove_stopwords)

In [28]:
train

                                                    text  label
31880  might spoilerbr br first started watching movi...      0
31688  movie actually one time favorites Im not Renny...      1
486    thought original story nicely told think peopl...      1
27206  Lady Cement veritable course social anthropolo...      0
30892  repeat please not see movie review warning set...      0
...                                                  ...    ...
10843  Early 1950s SciFi directed Lesley Selander Spe...      0
10436  remarkable documentary landmark achievements W...      1
15079  Sisters law released theatrically march 24th S...      1
25656  Outrage pretty good movie Robert Culp good mov...      1
8603   many flaws Im inclined charitable towards Thin...      0

[10000 rows x 2 columns]

In [29]:
def remove_special_characters(text):
    text = re.sub('[^a-zA-z0-9\s]', '', text)
    return text

In [30]:
train['text']=train['text'].apply(remove_special_characters)

In [31]:
def remove_html(text):
    import re
    html_pattern = re.compile('<.*?>')
    return html_pattern.sub(r' ', text)

In [32]:
train['text']=train['text'].apply(remove_html)

In [33]:
def remove_URL(text):
    url = re.compile(r'https?://\S+|www\.\S+')
    return url.sub(r' ',text)

In [34]:
train['text']=train['text'].apply(remove_URL)

In [35]:
def remove_numbers(text):
    """ Removes integers """
    text = ''.join([i for i in text if not i.isdigit()])         
    return text

In [36]:
train['text']=train['text'].apply(remove_numbers)

In [37]:
def cleanse(word):
    rx = re.compile(r'\D*\d')
    if rx.match(word):
        return ''
    return word
def remove_alphanumeric(strings):
    nstrings = [" ".join(filter(None, (
    cleanse(word) for word in string.split()))) 
    for string in strings.split()]
    str1 = ' '.join(nstrings)
    return str1

In [38]:
train['text']=train['text'].apply(remove_alphanumeric)

In [39]:
train

                                                    text  label
31880  might spoilerbr br first started watching movi...      0
31688  movie actually one time favorites Im not Renny...      1
486    thought original story nicely told think peopl...      1
27206  Lady Cement veritable course social anthropolo...      0
30892  repeat please not see movie review warning set...      0
...                                                  ...    ...
10843  Early s SciFi directed Lesley Selander Special...      0
10436  remarkable documentary landmark achievements W...      1
15079  Sisters law released theatrically march th Swe...      1
25656  Outrage pretty good movie Robert Culp good mov...      1
8603   many flaws Im inclined charitable towards Thin...      0

[10000 rows x 2 columns]

In [56]:
train.head().sum()

text         might spoilerbr br first started watching movi...
label                                                        2
sentiment    (0.2358974358974359, 0.6012820512820514, 0.227...
dtype: object

In [57]:
train.describe()

              label
count  10000.000000
mean       0.500000
std        0.500025
min        0.000000
25%        0.000000
50%        0.500000
75%        1.000000
max        1.000000

In [37]:
def lemmatize_text(text):
    text = nlp(text)
    text = ' '.join([word.lemma_ if word.lemma_ != '-PRON-' else word.text for word in text])
    return text

In [38]:
train['text']=train['text'].apply(lemmatize_text)

In [40]:
train['sentiment'] = train['text'].apply(lambda tweet: TextBlob(tweet).sentiment)

In [41]:
train

,text,label,sentiment
31880,might spoilerbr br first started watching movi...,0,"(0.2358974358974359, 0.6012820512820514)"
31688,movie actually one time favorites Im not Renny...,1,"(0.22757352941176467, 0.4908496732026144)"
486,thought original story nicely told think peopl...,1,"(0.6291666666666668, 0.7416666666666667)"
27206,Lady Cement veritable course social anthropolo...,0,"(0.21034334023464457, 0.40597826086956523)"
30892,repeat please not see movie review warning set...,0,"(0.018291505791505784, 0.5973321535821535)"
...,...,...,...
10843,Early s SciFi directed Lesley Selander Special...,0,"(0.31547619047619047, 0.49142857142857144)"
10436,remarkable documentary landmark achievements W...,1,"(0.053428571428571416, 0.36266666666666675)"
15079,Sisters law released theatrically march th Swe...,1,"(0.17769841269841266, 0.4525396825396825)"
25656,Outrage pretty good movie Robert Culp good mov...,1,"(0.3548941798941799, 0.7141534391534391)"
8603,many flaws Im inclined charitable towards Thin...,0,"(0.06429421768707481, 0.5673639455782311)"

In [42]:
sentiment_series = train['sentiment'].tolist()

In [43]:
columns = ['polarity', 'subjectivity']
df1 = pd.DataFrame(sentiment_series, columns=columns, index=train.index)

In [44]:
df1

       polarity  subjectivity
31880  0.235897      0.601282
31688  0.227574      0.490850
486    0.629167      0.741667
27206  0.210343      0.405978
30892  0.018292      0.597332
...         ...           ...
10843  0.315476      0.491429
10436  0.053429      0.362667
15079  0.177698      0.452540
25656  0.354894      0.714153
8603   0.064294      0.567364

[10000 rows x 2 columns]

In [45]:
result = pd.concat([train,df1],axis=1)

In [46]:
result.drop(['sentiment'],axis=1,inplace=True)

In [47]:
result.loc[result['polarity']>=0.3, 'Sentiment'] = "Positive"
result.loc[result['polarity']<0.3, 'Sentiment'] = "Negative"

In [48]:
result

,text,label,polarity,subjectivity,Sentiment
31880,might spoilerbr br first started watching movi...,0,0.235897,0.601282,Negative
31688,movie actually one time favorites Im not Renny...,1,0.227574,0.490850,Negative
486,thought original story nicely told think peopl...,1,0.629167,0.741667,Positive
27206,Lady Cement veritable course social anthropolo...,0,0.210343,0.405978,Negative
30892,repeat please not see movie review warning set...,0,0.018292,0.597332,Negative
...,...,...,...,...,...
10843,Early s SciFi directed Lesley Selander Special...,0,0.315476,0.491429,Positive
10436,remarkable documentary landmark achievements W...,1,0.053429,0.362667,Negative
15079,Sisters law released theatrically march th Swe...,1,0.177698,0.452540,Negative
25656,Outrage pretty good movie Robert Culp good mov...,1,0.354894,0.714153,Positive
8603,many flaws Im inclined charitable towards Thin...,0,0.064294,0.567364,Negative

In [49]:
result.loc[result['label']==1, 'Sentiment_label'] = 1
result.loc[result['label']==0, 'Sentiment_label'] = 0

In [52]:
result

,text,label,polarity,subjectivity,Sentiment,Sentiment_label
31880,might spoilerbr br first started watching movi...,0,0.235897,0.601282,Negative,0.0
31688,movie actually one time favorites Im not Renny...,1,0.227574,0.490850,Negative,1.0
486,thought original story nicely told think peopl...,1,0.629167,0.741667,Positive,1.0
27206,Lady Cement veritable course social anthropolo...,0,0.210343,0.405978,Negative,0.0
30892,repeat please not see movie review warning set...,0,0.018292,0.597332,Negative,0.0
...,...,...,...,...,...,...
10843,Early s SciFi directed Lesley Selander Special...,0,0.315476,0.491429,Positive,0.0
10436,remarkable documentary landmark achievements W...,1,0.053429,0.362667,Negative,1.0
15079,Sisters law released theatrically march th Swe...,1,0.177698,0.452540,Negative,1.0
25656,Outrage pretty good movie Robert Culp good mov...,1,0.354894,0.714153,Positive,1.0
8603,many flaws Im inclined charitable towards Thin...,0,0.064294,0.567364,Negative,0.0